<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.asset.mapper.ExchangeOrderMapper">
    <sql id="tableName">
        exchange_order
    </sql>

    <sql id="baseColumn">
        id,user_id,type,bank_id,bank_name,open_bank,account,buy_asset_id,buy_asset_name,buy_amount,sell_asset_id,sell_asset_name,sell_amount,give,fee,create_time,payment_date,status,update_time
    </sql>

</mapper>