<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.asset.mapper.RedEnvelopesOrderMapper">
    <sql id="tableName">
        red_envelopes_order
    </sql>

    <sql id="baseColumn">
        id,user_id,type,chat_type,target_id,asset_id,asset_name,amount,number,surplus_number,slogan,fee,create_time,expire_time,update_time
    </sql>

</mapper>