<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.user.mapper.AuthConfigMapper">
    <sql id="tableName">
        auth_config
    </sql>

    <sql id="baseColumn">
        id,auth_key,auth_value,img,level,create_time,update_time,update_user_id
    </sql>

</mapper>