<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.user.mapper.ConfigGiftMapper">
    <sql id="tableName">
        config_gift
    </sql>

    <sql id="baseColumn">
        id,type,name,banance_value,integral_value,declaration,display,is_delete,status,icon,sort,created_at,updated_at
    </sql>

</mapper>