<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.user.mapper.MemberConfigMapper">
    <sql id="tableName">
        member_config
    </sql>

    <sql id="baseColumn">
        id,type,money,create_time,update_time,update_user_id
    </sql>

</mapper>