<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.message.mapper.MessageMapper">
    <sql id="tableName">
        user_attention
    </sql>

    <sql id="baseColumn">
        id,user_id,attention_user_id,status,create_time,update_time
    </sql>

    <select id="selectNonSuccess" resultType="com.ex.model.entity.message.Message">
        select * from message
        where status != 1 and fail_times &lt; #{failTimes} and receive_address != ''
        and create_time &gt;= #{fiveBefore} and create_time &lt;  #{now} order by id asc limit 30
    </select>

    <update id="updateMessage">
        update message
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="failTimes != null">
                fail_times = #{failTimes}+fail_times,
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectGtIdNonSuccess" resultType="com.ex.model.entity.message.Message">
        select * from message
        where status != 1 and fail_times &lt; #{failTimes} and id &gt; #{lastId} order by id asc limit 30
    </select>

</mapper>